<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap demo</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
</head>

<body>



<div class="container">
    <div class="row">
        <div class="col col-2">
        </div>
        <div class="col col-8">
            <div class="card">
                <div class="card-title">
                    <h1 class="text-center">Student List</h1>
                </div>
                <div class="card-body ">
                    <div class="card">

                        <form th:object="${student}" method="POST" th:action="@{/student}">
                            <div class="m-3">
                                <input required type="text" name="id" hidden th:field="*{id}"
                                       placeholder="Enter Student Email" class="form-control"/>
                            </div>
                            <div class="m-3">
                                <label for="exampleFormControlInput1" class="form-label">Email address</label>
                                <input required type="text" th:field="*{firstName}" placeholder="Enter Student Name"
                                       name="firstName" class="form-control"/>
                            </div>
                            <div class="m-3">
                                <label for="exampleFormControlInput1" class="form-label">Email address</label>
                                <input required type="text" th:field="*{lastName}" placeholder="Enter Student Name"
                                       name="lastName" class="form-control"/>
                            </div>
                            <div class="m-3">
                                <label for="exampleFormControlInput1" class="form-label">Email address</label>
                                <input required type="text" name="email" th:field="*{email}"
                                       placeholder="Enter Student Email" class="form-control"/>
                            </div>
                            <div class="m-3">
                                <label for="exampleFormControlInput1" class="form-label">Email address</label>
                                <input required type="text" th:field="*{phNo}" name="phNo"
                                       placeholder="Enter Student Phone" class="form-control"/>
                            </div>
                            <button type="submit"
                                    class="btn btn-lg btn-primary m-3">
                                sava
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <div class="col col-2">
        </div>
    </div>
</div>


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa"
        crossorigin="anonymous"></script>
</body>

</html>